<a ng-show="ArsaTipi" class="btn btn-default btn-select btn-select-light">
    <input type="hidden" class="btn-select-input" id="" name="" value="" />
    <span class="btn-select-value">Arsa Imar Durumunu Seçiniz</span>
    <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
    <ul>
        <li  ng-repeat="kat in emlakImarDurumu.result" ng-cloak ng-model="parameters.EmlakImarDurumu" ng-click="clickArsaImarDurumu(kat.id)" id="kat{{kat.id}}">
           {{kat.emlakDurumu}}
        </li>
    </ul>
</a>
