<div class="container_full" style="background-image:url(/Images/elements/pattern-five.jpg); padding-top:20px">
    <div class="container body-content">
        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">
                            Kategoriler
                        </a>
                        <a href="#" class="list-group-item">Ana Sayfa</a>
                        @*<a href="#" class="list-group-item">İlanlar</a>*@
                        <a href="#" class="list-group-item">Hakkımızda</a>
                        <a href="#" class="list-group-item">İletişim</a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">
                            İletişim
                        </a>
                        <a href="#" class="list-group-item">E-mail: info@@torbaliburada.com</a>
                        <a href="#" class="list-group-item">Tel: 0535 3833310</a>
                       
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">
                            Çözüm Ortaklarımız
                        </a>
                        <a href="#" class="list-group-item"></a>
                       
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
