<div class="container_full">
    <div class="container body-content" style="margin-top:20px; padding-bottom:70px" >
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3 style="text-align:center">Kurumsal Üyelerimiz</h3>
                <p style="text-align:center">Sitemize üye olan ve bize güç katan çözüm ortaklarımız.</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="thumbnail torbali ortak-ozellikler">
                    <img src="~/Content/Images/torbali-harita.png" class="" />
                    <h5>EMLAK DANIŞMANLARI</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="thumbnail torbali ortak-ozellikler">
                    <img src="~/Content/Images/torbali-harita.png" class="" />
                    <h5>İNŞAAT FİRMALARI</h5>
                </div>
            </div>
        </div>
    </div>
</div>
