<div class="container body-content">

    @* Header Logo Telefon Başladı *@
    <div class="row" style="border-bottom:solid 1px #eee;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <h1>
                <a href="/" title="Torbalı Burada"><img class="img-thumbnail" src="/Content/Images/torbali-burada-logo.png" alt="Torbalı Burada" /></a>
            </h1>

        </div>
    </div>
</div>
