<div class="container_full" ng-cloak>
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <!-- SLIDE 4 -->
                <li data-transition="fade" data-slotamount="6" data-thumb="/Images/sliders/revolution/slider-bg1.jpg">

                    <img src="/Images/sliders/revolution/slider-bg1.jpg" alt="Emlak" />

                    <div class="caption sfb" data-x="470" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="/Images/sliders/revolution/slide4.png" alt="" /></div>
                    <div class="caption lft big_white" data-x="140" data-y="72" data-speed="900" data-start="700" data-easing="easeOutExpo">
                        @*Emlak &amp; Arsa Proje İlan*@
                    </div>
                    <div class="caption lft large_text_two" data-x="30" data-y="120" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                        Aradığın Emlak Burada.
                    </div>
                    @*<div class="caption lfb h_line" data-x="0" data-y="180" data-speed="900" data-start="1900" data-easing="easeOutExpo"></div>*@

                    <div class="caption lfb small_text" data-x="30" data-y="180" data-speed="900" data-start="2500" data-easing="easeOutExpo">
                        Torbalı'nın en güzel evleri, <br />arsaları ve işyerleri elinizin<br />altında.
                    </div>

                    @*<div class="caption lfb h_line" data-x="0" data-y="315" data-speed="900" data-start="3100" data-easing="easeOutExpo"></div>*@

                    @*<div class="caption lfb small_text" data-x="30" data-y="300" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="/Home/Search" class="btn btn-info">Detay</a></div>*@

                </li>
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="6" data-thumb="/Images/sliders/revolution/slider-bg1.jpg">

                    <img src="/Images/sliders/revolution/slider-bg1.jpg" alt="Arsa" />

                    <div class="caption sfb" data-x="450" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="/images/sliders/revolution/slide1.png" alt="" /></div>
                    <div class="caption lft big_white" data-x="118" data-y="72" data-speed="900" data-start="700" data-easing="easeOutExpo">
                       
                    </div>
                    <div class="caption lft large_text_two" data-x="30" data-y="120" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                       Bizim amacımız,
                    </div>
                    @*<div class="caption lfb h_line" data-x="0" data-y="180" data-speed="900" data-start="1900" data-easing="easeOutExpo"></div>*@

                    <div class="caption lfb small_text" data-x="30" data-y="180" data-speed="900" data-start="2500" data-easing="easeOutExpo">
                        Torbalı'da emlak, işyeri ve ya arsa <br /> bulmanın en kolay yolunu<br /> size sunmaktır. 
                       
                    </div>

                    @*<div class="caption lfb h_line" data-x="0" data-y="315" data-speed="900" data-start="3100" data-easing="easeOutExpo">                    
                    </div>*@

                    @*<div class="caption lfb small_text" data-x="30" data-y="300" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="/Home/Search" class="btn btn-info">Detay</a></div>*@

                </li>

                @*<!-- SLIDE 2 -->
                    <li data-transition="fade" data-slotamount="6" data-thumb="/images/sliders/revolution/slider-bg1.jpg">

                        <img src="/images/sliders/revolution/slider-bg1.jpg" alt="" />

                        <div class="caption sfb" data-x="470" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="/images/sliders/revolution/slide2.png" alt="" /></div>
                        <div class="caption lft big_white" data-x="103" data-y="72" data-speed="900" data-start="700" data-easing="easeOutExpo">
                            3 Diffrent Website Variations
                        </div>
                        <div class="caption lft large_text_two" data-x="22" data-y="119" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                            Plz Check all Demos
                        </div>
                        <div class="caption lfb h_line" data-x="0" data-y="180" data-speed="900" data-start="1900" data-easing="easeOutExpo"></div>

                        <div class="caption lfb small_text" data-x="0" data-y="205" data-speed="900" data-start="2500" data-easing="easeOutExpo">
                            Many desktop publishing package webpage editors use<br /> lorem ipsum as their default model text and search for<br />will uncover many web sites still in their infancy
                        </div>

                        <div class="caption lfb h_line" data-x="0" data-y="315" data-speed="900" data-start="3100" data-easing="easeOutExpo"></div>

                        <div class="caption lfb small_text" data-x="263" data-y="350" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="#" class="button_slider">get started</a></div>

                    </li>


                    <!-- SLIDE 3 -->
                    <li data-transition="fade" data-slotamount="6" data-thumb="/images/sliders/revolution/slider-bg1.jpg">

                        <img src="/images/sliders/revolution/slider-bg1.jpg" alt="" />

                        <div class="caption sfb" data-x="470" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="/images/sliders/revolution/slide3.png" alt="" /></div>
                        <div class="caption lft big_white" data-x="320" data-y="72" data-speed="900" data-start="700" data-easing="easeOutExpo">
                            Esay-to-Use
                        </div>
                        <div class="caption lft large_text_two" data-x="90" data-y="119" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                            Awesome Sliders
                        </div>
                        <div class="caption lfb h_line" data-x="0" data-y="180" data-speed="900" data-start="1900" data-easing="easeOutExpo"></div>

                        <div class="caption lfb small_text" data-x="0" data-y="205" data-speed="900" data-start="2500" data-easing="easeOutExpo">
                            Many desktop publishing package webpage editors use<br /> lorem ipsum as their default model text and search for<br />will uncover many web sites still in their infancy
                        </div>

                        <div class="caption lfb h_line" data-x="0" data-y="315" data-speed="900" data-start="3100" data-easing="easeOutExpo"></div>

                        <div class="caption lfb small_text" data-x="263" data-y="350" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="#" class="button_slider">get started</a></div>

                    </li>*@


               

            </ul>
        </div>
    </div>
</div>
