<div class="container_full blue-bg">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12  color-beyaz">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="thumbnail">
                        <img src="/Images/sliders/revolution/slide1.png" />
                    </div>

                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    @*<div class="col-xs-4 col-sm-3 col-md-2">
                        <img class="img-thumbnail" src="~/Content/Images/icon-bir.png" />
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-10">
                        <h3 class="color-beyaz">Ücretsiz ve kolay üyelik</h3>
                        <p>Web sitemize bireysel ve kurumsal kullanıcıların üyelikleri ücretsizdir. Bireysel üyelerimiz aynı anda 3 ilanı ücretsiz yayınlaya bilirler.</p>
                    </div>*@
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <img src="~/Content/Images/icon-iki.png" />
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-10">
                        <h3>Teknoloji Dostu Kolay Kullanım</h3>
                        <p>Web sitemize internete bağlı tüm tarayıcılarda kullanılabilir.</p>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <img src="~/Content/Images/icon-uc.png" />
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-10">
                        <h3>Hedef Müşteriye Ulaşmak Daha Kolay</h3>
                        <p>Web sitemizde yayınlanan ilanlarınız en hızlı şekilde hedef kitlesine ulaşır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
