<div class="container_full" style="background-image: url('/Images/sliders/revolution/slider-bg1.jpg')">

    <div class="container" style="position: relative; padding-left:0; padding-right:0">
        <div class="customNavigation">
            <a style="z-index: 1000" class="trenprev prev"></a>
            <a style="z-index: 1000" class="trennext next"></a>
        </div>
        <div id="tren" class="owl-carousel">
            <div class="item">
                <div class="list-post">
                    <article class="item-post post bgblack" style="">
                        <header class="entry-header col-md-5">
                            <h4 class="entry-title">
                                <a rel="bookmark" href="#">
                                    Neden Torbalı'dan emlak almalıyım?<br />
                                    Tüm yatırımların hızlı değerlenmesinden, İkliminden, havalimanına, turistik bölgelere yakınlığından, birçok yere rahat şekilde ulaşım imkanından ve buraya sığdıramadığımız bir çok nedenden dolayı...
                                </a>
                            </h4>
                        </header>
                        <div class="featured-image col-md-7" style="bottom: 0;">
                            <img alt="" src="/Images/sliders/revolution/slide4.png" />
                            <a href="#">
                                <div class="featured-image-control bgred">
                                </div>
                            </a>
                        </div>
                        <div class="featured-image col-md-12">
                            <div class="slider slider--wide">
                                <div class="slider__caption">
                                    <div class="slider__price">
                                        <strong>05353833310</strong>İletişim
                                    </div>
                                    <a class="slider__address" href="#">
                                        <span class="slider__address-city">
                                            Detaylı bilgi almak için lütfen bizi arayınız. Doğru yatırım imkanlarını  sizinle paylaşalım.
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="item">
                <div class="list-post">
                    <article class="item-post post bgblack" style="">
                        <header class="entry-header col-md-5">
                            <h4 class="entry-title">
                                <a rel="bookmark" href="#">
                                    Neden Torbalı'dan emlak almalıyım?<br />
                                    Tüm yatırımların hızlı değerlenmesinden, İkliminden, havalimanına, turistik bölgelere yakınlığından, birçok yere rahat şekilde ulaşım imkanından ve buraya sığdıramadığımız bir çok nedenden dolayı...
                                </a>
                            </h4>
                        </header>
                        <div class="featured-image col-md-7" style="bottom: 0;">
                            <img alt="" src="/Images/sliders/revolution/slide4.png" />
                            <a href="#">
                                <div class="featured-image-control bgred">
                                </div>
                            </a>
                        </div>
                        <div class="featured-image col-md-12">
                            <div class="slider slider--wide">
                                <div class="slider__caption">
                                    <div class="slider__price">
                                        <strong>05353833310</strong>İletişim
                                    </div>
                                    <a class="slider__address" href="#">
                                        <span class="slider__address-city">
                                            Detaylı bilgi almak için lütfen bizi arayınız. Doğru yatırım imkanlarını  sizinle paylaşalım.
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
