@{
    ViewBag.Title = "Torbalı";
    Layout = "~/Views/Shared/_TorbaliBuradaMasterPage.cshtml";
}
<div class="container_full" style="padding-top:5px" id="topScroll">
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3 style="text-align:center">İletişim Bilgilerimiz</h3>
                <p style="text-align:center">Bize ulaşabileceğiniz iletişim kanalları.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 hidden-md hidden-lg hidden-sm">
                <div class="thumbnail torbali ortak-ozellikler">
                    <img src="/Content/Images/telefon-icon.png" class="" />
                    <h4>0 535 3833310</h4>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs">

                <div class="thumbnail torbali ortak-ozellikler">
                    <img src="/Content/Images/telefon-icon.png" class="" />
                    <h4>0 535 3833310</h4>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs">
                <div class="thumbnail torbali ortak-ozellikler">
                    <img src="~/Content/Images/email-icon.png" class="" />
                    <h4>info@@torbaliburada.com</h4>
                </div>
            </div>
        </div>
    </div>
</div>
