
@{
    ViewBag.Title = " Ferhat Ilan Detay";
   Layout = "~/Views/Shared/_TorbaliBuradaMasterPage.cshtml";
}

<div ng-controller="IlanDetay">
    <h1>Using $location Service</h1>  
     {{one}}
    <label>First Parameter: </label> {{firstParameter}}  <br /> <br />
    <label>Second Parameter: </label> {{secondParameter}} <br /> <br />
    <hr />
    <h1>Using $routeParams</h1>
    <label>First Parameter: </label>{{param1}} <br /> <br />
    <label>Second Parameter</label> {{param2}}
</div>  



